*.la
*.lo
*.log
*.o
*.trs
.deps/
.libs/
/aclocal.m4
/autom4te.cache
/build-aux/
/config.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/munge-*.tar*
/src/*/*.[1-9]
/src/common/hkdf_test
/src/etc/munge.init
/src/etc/munge.pc
/src/etc/munge.service
/src/etc/munge.sysconfig
/src/etc/munge.tmpfiles.conf
/src/munge/munge
/src/munge/remunge
/src/munge/unmunge
/src/munged/base64_test
/src/munged/munged
/src/mungekey/mungekey
/stamp-h1
/t/test-results/
Makefile
Makefile.in
TAGS
