*.la
*.lo
*.o
.deps/
.libs/
/config.cache
/config.log
/config.status
/config/config.h
/config/stamp-h1
/libtool
/src/*/*.[1-9]
/src/etc/munge.init
/src/munge/munge
/src/munge/remunge
/src/munge/unmunge
/src/munged/munged
Makefile
TAGS
