*.la
*.lo
*.o
.deps/
.libs/
/autom4te.cache
/config.cache
/config.log
/config.status
/config/config.h
/config/config.h.in~
/config/stamp-h1
/libtool
/src/*/*.[1-9]
/src/etc/munge.init
/src/etc/munge.pc
/src/etc/munge.service
/src/etc/munge.sysconfig
/src/etc/munge.tmpfiles.conf
/src/munge/munge
/src/munge/remunge
/src/munge/unmunge
/src/munged/munged
Makefile
TAGS
